<div class="group-btn">
  <button pButton class="ui-button-info tab-btn" label="My Alerts"></button>
  <button pButton class="ui-button-secondary tab-btn" label="Available Alerts"></button>
  <button pButton class="ui-button-secondary tab-btn" label="Create Alert"></button>
  <button pButton class="ui-button-secondary tab-btn" label="Suppressed Alerts"></button>
  <button pButton class="ui-button-secondary tab-btn" label="Closed Alerts"></button>
</div>
<div class="alert-table">
  <p-table [columns]="cols" [value]="data" [frozenValue]="frozenCars" [scrollable]="true">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field" *ngIf="col.header != 'Select'"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <p-checkbox *ngIf="col.header == 'Select'" value="rowData[col.field]"></p-checkbox>
          <span *ngIf="col.header != 'Select'">{{rowData[col.field]}}</span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div class="table-footer">
  <span>Total:</span>
  <div class="float-right">
    <button pButton class="ui-button-secondary reset" label="Reset"></button>
    <button pButton class="ui-button-secondary reset" label="Create Case"></button>
  </div>
</div>
